body {
    color:blueviolet;
}

h1 {
    color:rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.list {
    padding: 10%;
    line-height: 3em;
}

.btn {
    --bs-btn-font-size: 1.2rem;
}

.save-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    border-radius: 8px;
    border-style: solid;
    border-color: red;
    padding: 10px;
}

.return-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

img {
    border-radius: 8px
  }

.image-container {
    padding: 10px;
}

#button_description {
    color: blueviolet;
}

.accordion-holder {
    margin: 15px;;
    width: 50%
}

textarea {
    width: 100%;
}

input {
    width: 60%;
}

.input-and-submit {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;

}

.accordion-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}