body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
  
  header {
    flex: 0 80px;
    background-color:rgb(169, 147, 214);
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(198, 195, 226);
  }
  
  footer {
    flex: 0 30px;
    background-color:rgb(169, 147, 214);

  }
  
  ul {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the ul does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.2em;
    border-bottom: solid rgb(233, 232, 235) thin;
  }
  
  ul .nav-item {
    padding: 0 02em;
  }
  
  footer a {
    float: right;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }